{% extends "_base.html" %}

{% block main_content %}
    <div class="container">
        <h1>Hello There!</h1>
        {% if user.is_authenticated %}
            <p>Welcome back, {{ user.email }}!</p>
        {% endif %}

        <p>You can create an account, singin, singout, but test for sighin is failing.</p>
        <p>It is also possible to use <code>fake@email.address</code> and <code>fake_password</code> to login.</p>
        <p>Sourse code: <a href="https://github.com/almazkun/django_account">Github<a>.</p>
        <p>Failing test: <a href="https://github.com/almazkun/django_account/blob/main/account/tests.py#L87">tests.py#L87<a>.</p>

    </div>
{% endblock %}